// Body
$body-bg: #9ADE7B;
// Typography
$font-family-sans-serif: 'Noto Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// color
$theme-colors: (
  "primary":    #65B741,
  "secondary":  #EEF296,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
    "light":      #C1F2B0,
    "dark":       #508D69
);

// dark green
// #12372A dark
// #436850
// #ADBC9F secondary
// #FBFADA


// accents
// #EC8F5E
// #F3B664
// #F1EB90
// #9FBB73

// #A5DD9B bordercolor
// #C5EBAA bgcolor
// #F6F193
// #F2C18D

// #FF8F8F
// #EEF296
// #9ADE7B light
// #508D69

// #FFB534
// #FBF6EE
// #C1F2B0
// #65B741 primary

