# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/yanwardo/igoniometer.my.id/mqtt-server"
PassengerBaseURI "/mqtt-server"
PassengerNodejs "/home/yanwardo/nodevenv/igoniometer.my.id/mqtt-server/10/bin/node"
PassengerAppType node
PassengerStartupFile index.js
PassengerAppLogFile "/home/yanwardo/igoniometer.my.id/mqtt-server/log.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END